{% extends 'student/base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Edit Student</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" value="{{ student.name }}" required>
        </div>

        <div class="mb-3">
            <label>Course</label>
            <input type="text" name="course" class="form-control" value="{{ student.course }}" required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" value="{{ student.email }}" required>
        </div>

        <button type="submit" class="btn btn-primary">
            Update Student
        </button>

    </form>

</div>

{% endblock %}